{{app_env}}:
  adapter: {{app_database_adapter}}
  encoding: {{app_database_encoding}}
  pool: {{app_database_pool}}
  database: {{app_database_name}}
  user: {{app_database_user}}
  host: {{app_database_host}}
