<div class="signup-done">
  <h1>Thanks</h1>
  <p>
    If the email address you provided exists and belongs to your LCBO API
    account, an email will arrive shortly with instructions for
    changing your password. If it doesn&rsquo;t arrive soon, or you
    need assistance, please <a href="mailto:help@lcboapi.com">contact</a> me.
  </p>
  <p>
    <em>
      <i class="fa fa-info-circle"></i>
      You can now safely close this tab / window.
    </em>
  </p>
</div>
