<div class="grid-footer">
  <div class="constraint clear">
    <p class="footer-copyright">
      &copy; 2009&ndash;<%= Time.now.year %>
      <a href="http://heycarsten.com">Carsten Nielsen</a>
      <br>
      <span>
        <span class="heart">&hearts;</span>
        Sponsored by
        <a href="http://unspace.ca">Unspace</a>
        <span class="heart">&hearts;</span>
      </span>
    </p>
    <p class="footer-disclaimer">
      LCBO API is <em>not</em> endorsed or supported by the
      <acronym title="Liquor Control Board of Ontario">LCBO</acronym>
    </p>
  </div>
</div>
