<div class="grid-header">
  <div class="constraint">
    <h1>
      <a href="/">
        <span>LCBO API</span>
      </a>
    </h1>
    <p>
      <a href="http://twitter.com/lcboapi">
        <span>Follow on Twitter</span>
      </a>
    </p>
  </div>
</div>
