.bundle
.vagrant
.env
Vagrantfile
config/database.yml
config/skylight.yml
config/secrets.yml
db/*.rdb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
