Vagrant.configure('2') do |config|
  # Provision with Ansible
  config.vm.provision 'ansible' do |conf|
    conf.playbook = '.ansible/vagrant.yml'
    conf.sudo     = true
  end

  config.vm.provider 'vmware_fusion' do |v, vmware|
    v.vmx['memsize']  = '1024'
    vmware.vm.box     = 'precise64_vmware'
    vmware.vm.box_url = 'http://files.vagrantup.com/precise64_vmware.box'
  end

  config.vm.provider 'virtualbox' do |v, vbox|
    vbox.vm.box     = 'precise64_vbox'
    vbox.vm.box_url = 'http://files.vagrantup.com/precise64.box'
  end

  # Give your VM a hostname
  config.vm.hostname = 'lcboapi.dev'

  config.vm.network :private_network, ip: '192.168.???.???'
  config.ssh.forward_agent = true

  # Share an additional folder to the guest VM. The first argument is
  # the path on the host to the actual folder. The second argument is
  # the path on the guest to mount the folder. And the optional third
  # argument is a set of non-required options.
  config.vm.synced_folder '.', '/vagrant'
end
