/var/log/redis/*.log {
  {{redis_logrotate_event}}
  missingok
  rotate {{redis_logrotate_maxrotations}}
  compress
  delaycompress
  notifempty
  dateext
  create 0660 {{redis_user}} {{redis_group}}
}
