# {{ansible_managed}}

user {{nginx_user}};
pid /var/run/nginx.pid;
ssl_engine dynamic;
worker_processes {{nginx_worker_processes}};

events {
  multi_accept on;
  worker_connections {{nginx_max_connections}};
  use epoll;
}

http {
  sendfile on;

  tcp_nopush on;
  tcp_nodelay off;

  client_max_body_size {{nginx_max_body_size}};

  {% for setting, value in nginx_http_conf.iteritems() %}
  {{setting}} {{value}};
  {% endfor %}

  default_type application/octet-stream;

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}
