<p>
  This is a short label that identifies the use-case of the Access Key,
  this could be the name of your software product, or the name of your
  company if you're using LCBO API for anaylisis and reporting.
</p>
