# {{ansible_managed}}

description "Puma ({{app_domain}})"

start on started network-services
stop on stopping network-services

{% if puma_init_reload_with_phased_restart %}
reload signal USR1 # Perform phased-restart
{% else %}
reload signal USR2 # Perform hot-restart
{% endif %}

setuid {{app_user}}

env PATH=/home/{{app_user}}/.rvm/wrappers/default

chdir {{app_current_directory}}

exec bundle exec puma \
  --config {{puma_config_relative_path}} \
  --environment {{app_env}} \
  --bind unix://{{puma_socket_path}} \
  --state {{puma_state_directory}} \
  --pidfile {{puma_pid_path}}

respawn
respawn limit 3 30
