# {{ansible_managed}}

description "Sidekiq Worker Cluster ({{app_domain}})"

start on started network-services
stop on stopping network-services

pre-start script
  for i in `seq 0 $(({{sidekiq_cluster_size}} - 1))`
  do
    start {{sidekiq_init_worker_ident}} index=$i
  done
end script
