header
  position: relative
  background: $blue-grey-50
  height: 68px
  width: 100%

  .logo
    margin: 0
    margin-left: 10%
    padding: 0

    a
      margin-top: 10px
      display: inline-block
      width: 172px
      height: 46px
      background: url("https://dx5vpyka4lqst.cloudfront.net/assets/lcboapi-wordmark.png") no-repeat
      background-size: cover

    span
      @extend %reader-only

  nav
    position: absolute
    right: 10%
    top: 20px
    font-size: 18px
    font-weight: 500
    color: $blue-grey-700

    .sign-up a
      @extend %button

    a
      text-decoration: none
      color: $blue-grey-700
      &:hover
        color: $blue-grey-900

    ol, ul
      top: -5px
      position: relative
      list-style: none
      margin: 0
      padding: 0

    > ol > li
      margin: 0 12px
      display: inline-block
      &:last-child
        margin-right: 0

    .account-menu-container
      position: relative

    .account-name
      position: relative
      z-index: 50
      .fa
        position: relative
        font-size: 14px
        top: -2px
        left: 3px
        color: $blue-grey-400

    .account-menu
      position: absolute
      top: -8px
      right: -14px
      background: white
      width: 222px
      border-radius: 3px
      padding-top: 44px
      padding-bottom: 16px
      text-align: right
      font-weight: normal
      +box-shadow(0px 1px 3px rgba($blue-grey-900, 0.45))
      li
        padding: 8px 14px

    .log-out a
      color: $red-600

footer
  font-weight: 300
  font-size: 14px
  color: $grey-500
  height: 44px
  line-height: 43px
  padding: 0 10%

  em
    color: $grey-600
    font-style: normal
    font-weight: 500