header
  position: relative
  background: $blue-grey-50
  height: 68px
  width: 100%

  .logo
    margin: 0
    margin-left: 10%
    padding: 0

    a
      margin-top: 10px
      display: inline-block
      width: 172px
      height: 46px
      background: url("https://dx5vpyka4lqst.cloudfront.net/assets/lcboapi-wordmark.png") no-repeat
      background-size: cover

    span
      @extend %reader-only

  nav
    position: absolute
    right: 10%
    top: 20px
    font-size: 18px
    font-weight: 500

    .sign-up a
      @extend %button

    a
      text-decoration: none
      color: $blue-grey-600
      &:hover
        color: $blue-grey-900

    ol, ul
      top: -5px
      position: relative
      list-style: none
      margin: 0
      padding: 0

    > ol > li
      margin: 0 12px
      display: inline-block
      &:last-child
        margin-right: 0
