<header>
  <h1 class="logo">
    {{#link-to "index"}}
      <span>LCBO API</span>
    {{/link-to}}
  </h1>

  <nav>
    <ol>
      {{#if session.isAuthenticated}}
        <li class="account-menu-container">
          {{#link-to "account" class="account-name"}}
            {{session.account.name}} <i class="fa fa-chevron-down"></i>
          {{/link-to}}
          <ul class="account-menu">
            <li class="settings">
              {{#link-to "account"}}
                Settings
              {{/link-to}}
            </li>
            <li class="log-out">
              <a href="#" {{action "invalidateSession"}}>Log Out</a>
            </li>
          </ul>
        </li>
      {{else}}
        <li class="log-in">
          {{#link-to "login"}}
            Log In
          {{/link-to}}
        </li>
        <li class="sign-up">
          {{#link-to "signup"}}
            Sign Up
          {{/link-to}}
        </li>
      {{/if}}
    </ol>
  </nav>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <em>LCBO API</em> &copy; 2009&ndash;2014 Carsten Nielsen
</footer>
