<p>
  A lot of the icons used on LCBO API are from The Noun Project and are licensed
  under the Creative Commons. Here's a list of all of the attributions for works
  used in LCBO API:
</p>

<ul>
  <li>
    Vines in LCBO API grapes logo from Grapes designed by <a href="http://www.thenounproject.com/loxandco">Laurène Smith</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  </li>
</ul>
