<article class="document">
  <h1>Credits &amp; Thanks</h1>

  <ul>
    <li>
      The icons used on LCBO API are from the <a href="http://fontawesome.io/">FontAwesome</a> project
    </li>
    <li>
      The vines in the LCBO API grapes logo were adapted from Grapes designed by <a href="http://www.thenounproject.com/loxandco">Laurène Smith</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
    </li>
    <li>
      LCBO API is typeset in
      <a href="http://www.google.com/fonts/specimen/Roboto">Roboto</a>, and
      <a href="http://www.google.com/fonts/specimen/Source+Code+Pro">Source Code Pro</a>
      from the <a href="http://www.google.com/fonts">Google Fonts</a> project
    </li>
    <li>
      Foremost I want to thank my wife, Erin, and daughter, Rosa, for
      understanding my obsession and supporting me even though it doesn&rsquo;t
      pay the bills. &hearts; &hearts; &hearts;
    </li>
    <li>
      I&rsquo;d personally like to thank <a href="http://minusfive.com/">Jorge
      Villalobos</a> for helping me get out of some brutal design ruts during
      the course of the project, <a href="https://twitter.com/elucid">Justin
      Giancola</a> for helping me optimize the crawler in the early days, and
      <a href="https://twitter.com/meghatron">Meghann Millard</a>,
      <a href="https://twitter.com/ghedamat">Mattia Gheda</a>, and
      <a href="https://twitter.com/drtoofs">Ben Moss</a> for listening to me talk
      at them way too much about LCBO API.
    </li>
    <li>
      LCBO API wouldn&rsquo;t be possible if it were not for the open source
      community and great projects like:
      <a href="http://www.postgresql.org/">PostgreSQL</a>,
      <a href="https://www.ruby-lang.org">Ruby</a>,
      <a href="http://puma.io/">Puma</a>,
      <a href="http://redis.io/">Redis</a>,
      <a href="http://nginx.org/">Nginx</a>,
      <a href="http://emberjs.com/">Ember</a>, and their countless contributors.
    </li>
  </ul>
</article>
