<form {{action "authenticate" on="submit"}}>
  <label for="email">Email</label>

  {{input name="email" placeholder="Email" value=identification autofocus=true}}
  <label for="password">Password</label>

  {{input name="password" placeholder="Password" type="password" value=password}}
  <button type="submit">Login</button>
</form>

<div class="no-account">
  <p><em>Don&rsquo;t have an account?</em> {{#link-to "signup"}}Sign Up{{/link-to}}</p>
</div>

{{#if errorMessage}}
  <div class="alert alert-danger">
    <strong>Login failed:</strong> {{errorMessage}}
  </div>
{{/if}}
