<header>
  <h1 class="logo">
    {{#link-to "index"}}
      <span>LCBO API</span>
    {{/link-to}}
  </h1>
</header>

<form novalidate {{action "authenticate" on="submit"}}>
  <h2 class="novis">Log In</h2>

  <div class="field email">
    {{input name="email" type="email" id="email" placeholder="Email" value=identification autofocus=true tabindex=1}}
    <label for="email"><span class="novis">Email</span></label>
  </div>

  <div class="field password">
    {{input name="password" id="password" placeholder="Password" type="password" value=password tabindex=2}}
    <label for="password"><span class="novis">Password</span></label>
  </div>

  <div class="actions">
    <button type="submit" tabindex="3">
      <i class="fa fa-sign-in"></i> Log In
    </button>
  </div>
</form>

{{#if errorMessage}}
  <div class="error-msg">
    <i class="fa fa-exclamation-triangle"></i> {{errorMessage}}
  </div>
{{/if}}
