<header>
  <h1 class="lcboapi-wordmark">
    {{#link-to "dashboard"}}
      <span>LCBO API</span>
    {{/link-to}}
  </h1>
</header>

<form novalidate {{action "authenticate" on="submit"}}>
  <h2 class="novis">Log In</h2>

  <ol class="minimal-fields">
    <li class="field email">
      {{input name="email" type="email" id="email" placeholder="Email" value=identification autofocus=true tabindex=1}}
      <label for="email"><span class="novis">Email</span></label>
    </li>

    <li class="field password">
      {{input name="password" id="password" placeholder="Password" type="password" value=password tabindex=2}}
      <label for="password"><span class="novis">Password</span></label>
    </li>
  </ol>

  {{#if errorMessage}}
    <div class="error-msg">
      <i class="fa fa-exclamation-triangle"></i> {{errorMessage}}
    </div>
  {{/if}}

  <div class="actions">
    <button class="log-in" type="submit" tabindex="3">
      Log In
    </button>
  </div>

  <div class="alt-actions">
    <p>Don&rsquo;t have an account? {{#link-to "signup"}}Sign Up{{/link-to}}</p>
  </div>
</form>
