# {{ansible_managed}}

gzip              on;
gzip_comp_level   2;
gzip_disable      "msie6";
gzip_http_version 1.1;
gzip_min_length   1100;
gzip_proxied      any;
gzip_static       on;
gzip_vary         on;
