<% content_for :title, 'LCBO API: A REST API for LCBO data' %>

<div id="index_using_it" class="page-section">
  <h2>Overview</h2>

  <p>
    For more information read the friendly <a href="/docs/about">manual</a>.
  </p>

  <table summary="Available API actions">
    <tr class="hide">
      <th class="hide" scope="row" align="left">
        Action
      </th>
      <th class="hide" scope="row" align="left">
        Relative Path
      </th>
    </tr>

    <% data.endpoints.each do |doc| %>
      <% next unless doc[:route] %>
      <tr>
        <td class="action-cell">
          <a href="/docs/<%= doc[:slug] %>">
            <%= doc[:title] %>
          </a>
        </td>
        <td class="route-cell">
          <%= format_route(doc[:route]) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
