<% content_for :title, 'LCBO API: A fast API for LCBO data' %>

<section class="hero">
  <div class="hero-intro">
    <h1>
      <span>
        <em class="black">LCBO API</em>
      </span>
      <span>
        is an <em class="pink">open</em>
      <span>
      <span>
        <em class="purple">platform</em> for
      </span>
      <span>
        <em class="piglet">integrating</em>
      </span>
      <span>
        <em class="blue">LCBO data</em> into
      </span>
      <span>
        <em class="green">modern</em>
      </span>
      <span>
        <em class="gold">applications</em>
      </span>
    </h1>
  </div>

  <div class="hero-try-it">
    <h1>
      <span>Give it a try</span>
    </h1>

    <div id="try-it-widget">
      <div class="menubar">
        <div class="endpoint-selector">
          Product
        </div>
        <div class="endpoint-path">
          <span class="readonly">lcboapi.com/</span>
          <input type="text" value="products/356253">
        </div>
      </div>
      <div class="console">
<pre><code></code></pre>
      </div>
    </div>
  </div>
</section>
