---
:test:
  :adapter: postgres
  :database: lcboapi_test
  :encoding: unicode

:development:
  :adapter: postgres
  :database: lcboapi_development
  :encoding: unicode

:production:
  :adapter: postgres
  :database: lcboapi
  :encoding: unicode
