---
:s3:
  :access_key: <S3 Access Key ID>
  :secret_key: <S3 Secret Key>
  :bucket: <S3 Bucket>

:hoptoad:
  :api_key: <Hoptoad API Key>

:lcbo:
  :user_agent: <LCBO Crawler User-Agent>

:secret_token: <Secret Token>
