---
production:
  s3:
    access_key: ??????????
    secret_key: ????????????
    bucket: ?????????????

  lcbo:
    user_agent: ??????????

  secret_token: ???????????

  admin:
    username: ???????
    password: ?????????
