---
development:
  s3_access_key: ????????????????????????
  s3_secret_key: ?????????????????????????????????????
  s3_bucket: static.mylcbostorage.com
  lcbo_user_agent: LCBOAPI/2.0
  secret_key_base: 52a253526e6b6a81af2d10160396f6d85796351a23aed414a59897811556353e0515c819074387a4e18c5cf38f429ee04b9efb7e926b8313401f2f4bcaf676d6
  admin_username: admin
  admin_password: password
  redis: redis://redis/0
  stripe_publishable_key: ?????????????????????????????
  stripe_secret_key: ???????????????????????????????????
  untappd_client_id: ?????????????????????????????????????
  untappd_client_secret: ????????????????????????????????????

test:
  s3_access_key: ???????????????????????
  s3_secret_key: ??????????????????????????????????
  s3_bucket: static.mylcbostorage.com
  lcbo_user_agent: LCBOAPI/2.0
  secret_key_base: 52a253526e6b6a81af2d10160396f6d85796351a23aed414a59897811556353e0515c819074387a4e18c5cf38f429ee04b9efb7e926b8313401f2f4bcaf676d6
  admin_username: admin
  admin_password: password
  redis: redis://redis/1
  stripe_publishable_key: ?????????????????????????????
  stripe_secret_key: ??????????????????????????????
  untappd_client_id: ????????????????????????????????????
  untappd_client_secret: ????????????????????????????????????????

production:
  s3_access_key: ????????????????
  s3_secret_key: ????????????????????????????????
  s3_bucket: static.mylcbostorage.com
  lcbo_user_agent: LCBOAPI/2.0
  secret_key_base: RUN `rake secret` and use output here
  admin_username: ???????????
  admin_password: ??????????????????????
  redis: redis://127.0.0.1/0
  stripe_secret_key: ??????????????????????
  stripe_publishable_key: ??????????????????????????
  untappd_client_id: ??????????????????????????????????????
  untappd_client_secret: ?????????????????????????????????????
  smtp:
    :address: smtp.mandrillapp.com
    :port: 587
    :user_name: ????????????????????
    :password: ??????????????????????
    :enable_starttls_auto: true
