---
development:
  s3_access_key: ???????????????????????????
  s3_secret_key: ?????????????????????????????????????
  s3_bucket: ????????????????
  lcbo_user_agent: ???????????????????????????
  secret_key_base: ???????????????????????????
  admin_username: ????????????
  admin_password: ???????????
  redis: redis://127.0.0.1/0
