<h1>Subscription</h1>

<form>
  <label><input name="r" type="radio">Free ($0/month)</label>
  <ul>
    <li>Up to 50,000 requests / month</li>
  </ul>

  <label><input name="r" type="radio">Supporter ($20/month)</label>
  <ul>
    <li>Up to 1 million requests / month</li>
    <li>HTTPS</li>
    <li>CORS (Cross Origin Resource Sharing)</li>
    <li>Lookup products by UPC (barcode)</li>
    <li>Essential technical support</li>
  </ul>

  <label><input name="r" type="radio">Pro ($100/month)</label>
  <ul>
    <li><em>Support subscription features plus&hellip;</em></li>
    <li>5 million requests / month</li>
    <li>Product UPC data</li>
    <li>Webhook API access (NEAR FUTURE)</li>
    <li>1 free hour / month of project-specific support</li>
  </ul>

  <label><input name="r" type="radio">Business ($500+/month)</label>
  <ul>
    <li><em>Pro subscription features plus&hellip;</em></li>
    <li>Unlimited requests / month</li>
    <li>History API access (NEAR FUTURE)</li>
    <li>Custom feature development</li>
    <li>5 free hours / month of project-specific support</li>
  </ul>
</form>
