body.docs
  > header > h1
    left: 58px
  > header > nav
    right: 32px

  > footer .copyright
    right: 32px

  > footer nav
    left: 32px

section.docs-content
  position: relative
  background: white

  > header
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 322px
    background: material-color('blue-grey', '50')
    +box-sizing(border-box)
    color: material-color('blue-grey', '900')

    nav.tabs
      width: 100%
      background: material-color('blue-grey', '100')

      ol
        position: relative
        margin: 0
        padding: 0
        list-style: none
        height: 52px

        li a
          position: absolute
          text-align: center

          &:hover
            background: lighten(material-color('blue-grey', '100'), 3%)
            color: material-color('blue-grey', '700')

        li.active a
          color: material-color('blue-grey', '900')
          background: material-color('blue-grey', '50')

        li:first-child a
          left: 0

        li:last-child a
          right: 0

        a
          font-weight: 700
          font-size: 20px
          text-decoration: none
          display: block
          color: material-color('blue-grey', '400')
          width: 50%
          line-height: 52px

    h1
      color: material-color('blue-grey', '900')
      padding: 0 32px
      font-weight: 700

    nav.sections
      margin: 0 32px
      margin-top: 38px

      a
        text-decoration: none
        color: material-color('purple', '500')

        &:active
          color: material-color('purple', 'a400')

      h2, h3, ol
        font-weight: 500
        font-size: 18px
        margin: 0
        padding: 0
        color: material-color('blue-grey', '600')

      h2
        text-transform: uppercase
        margin: 0
        line-height: 1
        margin-bottom: 12px

      ol
        list-style: none
        padding: 0
        margin: 0
        line-height: 1.65

      div.manuals, div.endpoints
        margin: 32px 0

      .endpoints h3
        margin-bottom: 3px

      ol.manuals li.sub, ol.endpoints li
        padding-left: 18px

      ol.endpoints li a
        padding: 0
        margin-top: 0
        line-height: 1
        +ellipsis(260px)

  > article
    margin-left: 322px

    header
      +box-sizing(border-box)
      width: 100%
      padding: 0 32px
      background: material-color('purple', '400')
      height: 52px

      h1
        display: none
        font-weight: 700
        font-size: 2.255em
        margin: 0
        text-align: center
        color: white

    .document
      width: auto
      max-width: 680px
      min-height: 70vh
      line-height: 2
      margin: 0 auto
      padding: 32px
      padding-top: 16px
      padding-bottom: 122px

      a
        color: material-color('purple', '500')
        text-decoration: none

        &:active
          color: material-color('purple', 'a400')

      h1, h2, h3, h4, h5, h6, p, ol, ul, pre
        text-align: left
        margin: 1.25em 0

      h1, h2, h3, h4, h5, h6
        margin: 0.65em 0

      h1
        font-size: 2em

      h2
        font-size: 1.5em

      h3
        font-size: 1.25em
        font-weight: 600

      code
        position: relative
        font-size: 0.85em
        padding: 3px 4px
        top: -1px
        color: #222

      pre code
        +box-sizing(border-box)
        padding: 12px 14px
        line-height: 1.3
        font-size: 15px
        font-weight: 400
        top: 0
        color: material-color('blue-grey', '100')

      thead th
        background: material-color('blue-grey', '100')

      table
        font-size: 0.8em

        th, td
          +box-sizing(border-box)
          padding: 8px 10px
          line-height: 1.5

        td
          border-bottom: 1px solid material-color('blue-grey', '50')

      td
        vertical-align: top

        p, pre
          margin: 0

        code
          background: transparent
          padding: 0
          font-weight: 600

      .warning, .info, .orly
        position: relative
        line-height: 1.3
        color: white
        padding: 20px 30px
        padding-left: 80px
        border-radius: 3px
        z-index: 100

        code
          padding: 0
          background: transparent

        a
          position: relative
          z-index: 150
          color: white
          border-bottom: 2px solid rgba(white, 0.8)

        &:before
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 80px
          margin: auto
          margin-left: 27px
          font-size: 32px
          line-height: 1
          height: 32px
          +font-awesome

      .warning
        background: material-color('pink', '500')

        &:before
          content: '\f071'

      .info
        background: material-color('light-blue', '500')

        &:before
          content: '\f05a'

      .orly
        background: material-color('cyan', '500')

        &:before
          font-size: 40px
          height: 40px
          content: '\f118'
