.dashboard-keys-show
  .activity-detail
    margin: 0 0 2em

  .key-detail,
  .usage-detail
    @media only screen and (min-width: 960px)
      float: left
      width: 47.5%

  .key-detail
    border-radius: 3px
    line-height: 1.5
    @media only screen and (min-width: 960px)
      margin-right: 5%

    > header
      background: $purple-600
      padding: 16px 18px

      h1
        color: white
        margin: 0
        line-height: 1
        font-size: 20px
        text-align: center

    .key-payload
      background: $purple-400
      padding: 36px 42px

      code
        line-height: 1.6
        background: transparent
        padding: 0
        color: $purple-50
        font-size: 22px
        font-family: $source-code-pro
        display: block
        word-wrap: break-word

    > footer
      background: $purple-200
      padding: 16px 18px
      text-align: center

      .token
        cursor: help
        display: inline-block
        background: $purple-200
        border-radius: 3px
        margin-left: 10px

        &:first-child
          margin-left: 0

        .label
          font-weight: 600

        .value
          border-left: 1px solid $purple-300

        > span
          display: inline-block
          padding: 2px 6px

  .danger-zone
    margin: 0
    margin-top: 48px
    background-color: $red-100
    border-radius: 3px

    header
      padding: 12px 18px

    h1
      margin: 0
      line-height: 1
      font-weight: 500
      color: $red-500

    > div
      text-align: center
      padding: 18px
      padding-top: 0

    button
      @extend .button
      line-height: 1
      height: 42px
      color: white
      background-color: $red-500
      border-color: $red-500

      &:hover
        background-color: $red-600
        border-color: $red-600
        color: white

      &:active
        background-color: $red-a200
        border-color: $red-a200
        color: white

      &:focus
        box-shadow: 0 0 2px 3px rgba($red-500, 0.2)
