$serif: Georgia, Constantia, 'Times New Roman', Times, Serif
$sans: 'Helvetica Neue', Corbel, Arial, Freesans, Sans-Serif
$mono: Monaco, Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', 'Dejavu Sans Mono', Monospace, 'Courier New'
$base-type-size: 14px

@import lib/mixins
@import lib/reset
@import layouts/admin
@import layouts/application
@import pages/admin
