auto lo
iface lo inet loopback

auto eth0 eth0:0 eth0:1

# Public interface
iface eth0 inet static
 address {{public_ip}}
 netmask {{public_netmask}}
 gateway {{gateway}}
 dns-nameservers {{dns_servers|join(' ')}}

{% if private_ip and private_netmask %}
# Private interface
iface eth0:0 inet static
 address {{private_ip}}
 netmask {{private_netmask}}
{% endif %}
