<% title 'LCBO API' %>

<div id="index_introduction" class="page-section">
  <h2 class="hide">
    What is it?
  </h2>
  <p>
    A REST service that provides LCBO store, product, and inventory information.
  </p>
</div>

<div id="index_using_it" class="page-section">
  <h2>Overview</h2>
  <p>
    For more information read the friendly <a href='/docs'>manual</a>.
  </p>
  <table summary="Available API actions">
    <tr class="hide">
      <th class="hide" scope="row" align="left">
        Action
      </th>
      <th class="hide" scope="row" align="left">
        Relative Path
      </th>
    <% @documents.each do |doc| %>
      <% next unless doc[:route] %>
      <tr>
        <td class="action-cell">
          <a href="/docs/<%= doc[:slug] %>">
            <%= doc[:title] %>
          </a>
        </td>
        <td class="route-cell">
          <%= format_route(doc[:route]) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
