.grid-footer
  .constraint.clear
    %p.footer-copyright
      Created by
      %a{ :href => 'http://heycarsten.com', :rel => 'friend' } Carsten Nielsen
    %p.footer-disclaimer
      This service is not affiliated with the
      %a{ :href => 'http://lcbo.com' } Liquor Control Board of Ontario
