.grid-footer
  .constraint.clear
    %p.footer-copyright
      Built by
      %a{ href: 'http://heycarsten.com' } Carsten Nielsen
      %br
      from
      %a{ href: 'http://unspace.ca' } Unspace Interactive
    %p.footer-disclaimer
      This service is not affiliated with the
      %a{ href: 'http://lcbo.com' }
        %acronym{ title: 'Liquor Control Board of Ontario' } LCBO
