<div class="grid-footer">
  <div class="constraint clear">
    <p class="footer-copyright">
      Built by
      <a href="http://heycarsten.com">Carsten Nielsen</a>
      <br>
      from
      <a href="http://unspace.ca">Unspace Interactive</a>
    </p>
    <p class="footer-disclaimer">
      This service is not affiliated with the
      <a href="http://lcbo.com" rel="nofollow">
        <acronym title="Liquor Control Board of Ontario">LCBO</acronym>
      </a>
    </p>
  </div>
</div>
