<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= title %>
    <%= stylesheet_link_tag :'lcboapi-admin' %>
  </head>
  <body class="admin">
    <%= yield %>
  </body>
</html>
