!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %title= title
    %link{ :rel => 'stylesheet', :href => "/css/lcboapi.css?#{LCBOAPI.cache_stamp}" }
    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' }
    %script{ :src => "/js/lcboapi.js?#{LCBOAPI.cache_stamp}" }
  %body.public
    = yield
